html{
    margin: 0;
    padding:0;
    width: 100vw;
    height: 100vh;
	background: linear-gradient(to bottom right, lightgreen, lightyellow);
}
#newList{
	border: 2px solid yellow;
	border-radius: 5px;
	width: 75px;
}