body {
    margin: 0;
    padding: 0;
    color: white;
    background: -webkit-radial-gradient(circle, red, yellow, green);
    background: -webkit-radial-gradient(circle, lightgrey, grey, lightgrey);
    background: -webkit-radial-gradient(circle, lightgrey, grey, lightgrey);
    background: radial-gradient(circle, lightgrey, grey, lightgrey);
    /* Standard syntax */
}

#divContaienr {
    width: 100vw;
    margin: 0 auto;
}

button {
    margin-left: 5vw;
    color: white;
    height: 40px;
    font-family: monospace;
    font-size: 2em;
}

#logoutButton {
    display: none;
}

#imageHolder {
	background-color: cadetblue;
    margin: 10vh;
    margin-bottom: 0;
    height: 400px;
    width: 400px;
    border: 3px solid lightgrey;
    font-size: 30px;
}

#imageHolder p {
    margin: 15%;
    font-size: 2em;
}

#nameHolder {
    margin-bottom: 10px;
    margin-left: 8vh;
    font-size: 3em;
}
#secretButton {
	display: none;
}