html {
	height: 100%;
}

body {
	font-family: monospace;
	margin: 3vw;
	padding: 0;
	background: grey;
	background: -webkit-linear-gradient(top left, grey, lightgrey);
	background: -o-linear-gradient(top left, grey, lightgrey);
	background: linear-gradient(to bottom right, grey, lightgrey);
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#chatWindow {
	border: 2px solid grey;
	height: 60vh;
	width: 80vw;
	background-image: url(white.jpg);
	background-size: cover;
	overflow-y: scroll;
	box-shadow: 8px 8px 5px #888888;
}

#chatInput {
	border: 2px solid grey;
	height: 5vh;
	width: 70vw;
	background-color: white;
	box-shadow: 8px 8px 5px #888888;
}

#sendChatInput {
	background-color: grey;
	border: none;
	color: white;
	margin: 2px;
	margin-top: 10px;
	padding: 10px;
	width: 9vw;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	box-shadow: 8px 8px 5px #888888;
}

#messageToUser {
	color: red;
}

input {
	padding-left: 3px;
}